<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [style.marginLeft.px]="8">ANGULAR CLI 15</mat-toolbar>    
    <mat-nav-list>
			<!-- MENU ADD PRODUCT -->
       <mat-icon [style.marginLeft.px]="20" [style.marginTop.px]="30" aria-hidden="false" color="warn" fontIcon="create_new_folder" ></mat-icon>          
			 <a mat-button [style.marginLeft.px]="10" color="warn" mat-raised-button (click)="openDialog()">Add Product</a>
			<!-- MENU LIST PRODUCT -->
       <mat-icon [style.marginLeft.px]="20" aria-hidden="false" [style.marginTop.px]="20"color="warn" fontIcon="desktop_windows"></mat-icon>       
				<a mat-button href="/settings" [style.marginLeft.px]="10" color="warn" mat-raised-button>Settings</a>
      <!-- <a mat-list-item href="/settings"> 
        <mat-icon aria-hidden="false" color="warn" aria-label="Example home icon" fontIcon="settings"></mat-icon> Settings
      </a>
      <a mat-list-item href="/logout"> 
        <mat-icon aria-hidden="false" color="warn" aria-label="Example home icon" fontIcon="logout"></mat-icon> Logout
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" color="white" aria-label="Example home icon" fontIcon="list"></mat-icon>
      </button>
      <span>Menu CRUD with Angular Material UI</span>
      
    <span class="example-spacer"></span>
		
		<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
			<mat-icon disabled>favorite</mat-icon>
		</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
