.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-warn {
  position: sticky;
  top: 5;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.container{
 max-width: 1200px;
 margin: 0 auto;
 margin-top: 10px;
}